ChubDownloader/bin/Debug/net9.0/ChromeProfile
ChubDownloader/bin/Debug/net9.0/ChromeProfile
ChubDownloader/obj/Debug/net9.0/ChubDownloader.AssemblyInfo.cs
ChubDownloader/obj/Debug/net9.0/ChubDownloader.AssemblyInfoInputs.cache
